
.feature_area{
    padding-top: 70px;
}
.feature_item{
    text-align: center;
    padding: 40px 0px 60px 0px;
    @include transition;
    .f_icon{
        min-height: 91px;
        position: relative;
        img{
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    h4{
        color: $dip;
        font-family: $rob;
        font-weight: bold;
        font-size: 24px;
        padding: 45px 0px 20px 0px;
    }
    p{
        font-size: 15px;
        line-height: 28px;
        font-family: $rob;
        color: $pfont;
        font-weight: 500;
        max-width: 290px;
        margin: auto;
        padding-bottom: 60px;
    }
    .more_btn{
        opacity: 0;
    }
    &:hover{
        box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
        .more_btn{
            opacity: 1;
        }
    }
}

.service_feature{
    border-bottom: 1px solid #bbbec1;
    padding-top: 100px;
    overflow: hidden;
    .feature_inner{
        margin-bottom: -50px;
        .feature_item{
            margin-bottom: 50px;
            .more_btn{
                opacity: 1;
                background: transparent;
                border-color: transparent;
                background-image: linear-gradient(left, #6ebdfe, #9b8aff);
                color:transparent;
                -webkit-background-clip: text;
                background-clip: text;
                @include transition;
                background-size: 200% auto;
            }
            &:hover{
                .more_btn{
                    color: #fff;
                    background-image: linear-gradient(to right, #70bafe 0%, #998dff 51%, #70bafe 100%);
                    border-color: rgba(204, 241, 255, .5);
                    background-clip: inherit;
                }
            }    
        }
    }
}



.team_people_area{
    overflow: hidden;
    padding-top: 90px;
}
.team_people_text{
    max-width: 540px;
    float: right;
    p{
        font-family: $rob;
        color: $pfont;
        font-size: 15px;
        line-height: 28px;
        font-weight: 500;
        padding-bottom: 45px;
    }
    ul{
        padding-left: 20px;
        li{
            width: calc(100% / 2);
            float: left;
            margin-bottom: 15px;
            a{
                padding-left: 18px;
                font-family: $rob;
                color: $pfont;
                font-size: 15px;
                line-height: 28px;
                font-weight: 500;
                position: relative;
                @include transition;
                &:before{
                    content: "";
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background: #a6d7ff;
                    position: absolute; 
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    @include transition;
                }
            }
            &:nth-child(even){
                padding-left: 22px;
            }
            &:last-child{
                margin-bottom: 0px;
            }
            &:hover{
                a{
                    color: #a6d7ff;
                    &:before{
                        left: 4px;
                    }
                }
            }
        }
    }
}
.team_img_inner{
    max-width: 591px;
    margin-bottom: -20px;
    margin-left: 150px;
    .row{
        margin-left: -10px;
        margin-right: -10px;
        .col-lg-6{
            padding: 0px 10px;
            margin-bottom: 20px;
            overflow: hidden;
        }
    }
    .team_img_item{
        overflow: hidden;
    }
}
